.App {
  text-align: center;
}

* {
  padding              : 0;
  margin               : 0;
  box-sizing           : border-box;
}

.CalcContainer {
  width                : 600px;
  border               : 5px solid black;
  margin               : auto;
  margin-top: 250px;
}

.DispContainer {
  border                : 5px solid orange;
  height                : 60px;
  background-color      : gray;
  padding: 1px;
  background-color      : black;
  color                 : orange;
  padding: 3px;
}

.ButtonsContainer {
  border                : 5px solid orange;
  display: grid;
  grid-template-columns : repeat(4, 1fr);
  height: 350px;
}

.ButtonsContainer button {
  background-color      : black;
  color                 : orange;
  font-size             : 2em; 
}

.Display {
  font-size             : 2em;
  text-align            : right;
}

